<h1>Editing preponent</h1>

<%= render "form", preponent: @preponent %>

<br>

<div>
  <%= link_to "Show this preponent", @preponent %> |
  <%= link_to "Back to preponents", preponents_path %>
</div>
